
.header__link {
    color: white;
    opacity: 0.8;
    padding: 14px 15px;
    margin: 10px 0;
    text-decoration: none;
    display: block;
}
.header__link:hover {
    background-color: rgba(0, 0, 0, 0.7);
    width: 70px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
}