.header__title {
    margin: 0 0 0 20px;
    width: 350px;
    object-position: top;
    object-fit: cover;
    white-space: nowrap;
    font-size: 34px;
    line-height: 34px;
    font-weight: normal;
}